<!DOCTYPE html>
<html>
<head>
  <title>KVB Info</title>
  <meta name="viewport" content="user-scalable=no, width=device-width" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <%= stylesheet_link_tag  "desktop", :media => "screen and (min-device-width: 480px)" %>
  <%= stylesheet_link_tag  "phone", :media => "only screen and (max-device-width: 480px)" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="content">
  <%= yield %>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-954244-13']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
